body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.center{
  text-align: center;
}

#products, #our-story, #contact {
  background-color: #f4f4f4;
  padding: 5%;
}

#services, #team, #account {
  background-color: #ffffff;
  padding: 5%;

}

.page-grid{
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  z-index: 0;
  top: 0;
}

.navbar {
  background-color: #000000;
  /* opacity: .9; */
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding: 6px 23px;
  float: right;
}

.navbar img {
  width: 60px;
  height: 30px;
}

.navbar li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #ffffff;
}

.navbar li a:hover{
  color: #00d49d;
}

/*****************************Home*******************************************/

#home {
  background-image: url("images/Hero.jpg");
  background-position: center;
  height: 830px;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-logo {
padding: 14% 15% 18% 11.5%;
}

.home-logo h1{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  overflow: hidden;
  border-right: .13em solid #090b04;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typer 5.5s steps(70, end),
             blinker .75s step-end infinite;
}

@keyframes typer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinker {
  from, to{
    border-color: transparent;
  }
   50%{
    border-color: #090b04;
  }
}

/***************************PRODUCTS*********************************************/

.product-grid {
  display: inline-grid;
  grid-template: 330px / repeat(3, 33%);
  grid-gap: 10px;
  position: relative;
}

.product-grid img {
  width: 400px;
  height: 330px;
  border: 1px solid #545454;
}

.show-text {
  position: relative;
  font-size: 1em;
  bottom: 123px;
  background-color: rgba(0, 212, 157, 0.75);
  color: #ffffff;
  margin: 15px;

}

.hidden {
  display: none;
}

/***************************SERVICES*********************************************/

.services-grid{
  display: inline-grid;
  justify-content: center;
  padding: 10px;
  grid-template: auto / repeat(3, 25%);
  grid-gap: 100px;
}

.services-grid img {
  width: 100px;
  height: 100px;
}

.learn-more {
  border: 2px solid #00d49d;
  background-color: #ffffff;
  color: #00d49d;
  padding: 3%;
  border-radius: 4px;
  font-size: 16px;
}

.learn-more:hover{
  background-color: #00d49d;
  color: #ffffff;
}


/****************************OUR STORY********************************************/

.ourstory-grid {
  display: inline-grid;
  grid-template: auto / repeat(3, 33%);
  justify-content: center;
  grid-gap: 25px;
  position: relative;
}

.ourstory-grid img{
  width: 350px;
  height: 270px;
}


/*******************************TEAM*****************************************/

.team-grid{
  display: inline-grid;
  justify-content: center;
  grid-template: auto / repeat(3, 33%);
  grid-gap: 20px;
  position: relative;
}

.team-grid img{
  width: 400px;
  height: 400px;
}


/***********************************CONTACT / REGISTER*************************************/
.contact-grid h2 {
  color: #00d49d;
}

.contact-grid{
  display: grid;
  grid-template: repeat(2, auto) / 50%;
  justify-content: center;
  width: 100%;
  padding: 5px;
  grid-gap: 2px;
}

.contact-icons {
  display: inline-grid;
  grid-template: 200px / repeat(4, 33%);
  justify-content: center;
  width: 100%;
  grid-gap: 30px;
  border-bottom: 1px solid #545454;
}

.contact-icons img {
  width: 50px;
  height: 50px;
}

input[type=text], [type=email], [type=subject], [type=password], select {
  font-size: .8em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00d49d;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  border: 2px solid #00d49d;
  background-color: #00d49d;
  color: #ffffff;
  padding: 2%;
  width: 100%;
  float: right;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #04b587;
  border: 2px solid #04b587;
  color: #ffffff;
}

.account-grid{
  display: inline-grid;
  grid-template: 500px / repeat(2, 40%);
  justify-content: center;
  width: 100%;
  padding: 10px;
  grid-gap: 100px;
}

.account-grid h3 {
  color: #00d49d;
}

/*********************************FOOTER***************************************/

.footer{
  padding: 1%;
  background-color: #000000;
  bottom: 0;
}

.footer-grid {
  display: inline-grid;
  grid-template: auto / repeat(3, 30%);
  justify-content: center;
  width: 100%;
  grid-gap: 5px;
}

.footer-grid img {
  width: 40px;
  height: 40px;
}

.footer-grid img:hover {
  color: #00d49d;
}
.footer-grid p{
  font-size: 1em;
  color: #ffffff;
}

.footer-grid a {
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
}

.footer-grid a:hover {
  color: #00d49d;
}

.footer-grid div:nth-child(2) {
  margin: 0;
}
